@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*A TODOS LAS ETIQUETAS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*DECLARANDO VALORES INICIALES AL BODY*/

body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color: white;
}

/*PONIENDO MEDIDAS AL MAIN*/

main{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*INICIANDO LA SECCION DEL BANNER*/

#banner {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url(./img/imagen_fondo.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

main #banner .titulo{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    position: relative;
    width: 250px;
    left: calc(100% - 250px);
    top: 200px;
}

.titulo h1,h2 {
    color: white;
    font-size: 30px;
    text-shadow: 
                -2px -2px 0 #000,  
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -2px 0 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                0 2px 0 #000;
}

/*INICIANDO LA PRESENTACION ,LOS ESTUDIOS Y LAS ACTITUDES*/

#presentacion,#estudios,#actitudes,#proyectos,#redes {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-family: "Orbitron",sans-serif;
    font-weight: 100;
    background-color: rgb(46, 46, 46);
}
/*COLOCANDO LA IMAGEN DE PERFIL*/
.contenedor-img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.contenedor-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(rgb(0, 166, 255) 20deg,transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.contenedor-img img {
    width: 220px;
    position: absolute;
}

.contenedor-estudios,.contenedor-trabajos,.contenedor-redes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-trabajos a {
    width: 100%;
}

.card {
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    transition: .3s all ease;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card:hover {
    height: 300px;
}


.card img {
    width: 100%;
}

.card a{
    text-decoration: none;
    color: white;
    height: 100%;
}

.card a p{
    background-color: rgba(45, 45, 45, 0.726);
    display: none;
    padding: 5px;
}

.card:hover p{
    display: inline-block;
}

.card-trabajo {
    border-radius: 20px;
    margin: 5px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    transition: .3s all ease;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-trabajo:hover {
    height: 300px;
}

.card-redes {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-redes a {
    display: contents;
}

.card-redes {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 10px;
    overflow: hidden;
}

.card-redes img{
    width: 95%;
    position: absolute;
    z-index: 1;
    padding: 5px;
}

.card-redes .left {
    position: absolute;
    inset: 0;
    display: block;
}

.card-redes .left::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    background: white;
    transform-origin: bottom right;
    transition: transform 5s ease; 
}

.card-redes:hover .left::before {
    animation: rotar 1s linear infinite;
}

.card-redes .rigth {
    position: absolute;
    inset: 100% 0 0 100%;
    display: block;
}

.card-redes .rigth::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    background: white;
    transform-origin: top left;
    transition: transform 5s ease; 
}

.card-redes:hover .rigth::before {
    animation: rotar 1s linear infinite;
}

.monserrat {
    background-image: url(./img/img_colegio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.senati {
    background-image: url(./img/img_senati.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.platzi {
    background-image: url(./img/img_platzi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-informacion {
    max-width: 85%;
    text-align: left !important;
}

.progress {
    height: 40px; 
    }
.progress-bar {
    height: 40px; 
    line-height: 40px; 
    color: white;
    text-align: center;
    width: 0; 
    transition: width 2s; 
  }
@media (min-width:650px){
    .contenedor-redes {
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-redes {
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }

    .card-redes .left::before {
        width: 150px;
        height: 150px;
        top: -75px;
        left: -75px;
    }

    .card-redes img {

    }
}

@media (min-width:900px){
    #banner{
        background-position: center;
    }

    main #banner .titulo{
        left: calc(100% - 500px);
        top: 150px;
    }

    .titulo h1,h2 {
        color: white;
        font-size: 70px;
        width: 450px;
    }
    
    #presentacion,#estudios,#actitudes,#proyectos,#redes {
        width: 70%;
    }

    .contenedor-estudios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-trabajos{
        display: flex;
        min-height: 500px;
        max-height: 600px;
        flex-wrap: wrap;
    }

    .contenedor-trabajos a{
        margin: 5px;
    }
    
    .card {
        margin-left: 10px;
        width: 33%;
        flex: 1;
    }
    
    .card:hover {
        flex: 2;
        height: 200px;
    }

    .card-trabajo {
        width: 100%;
    }
    
    .card-trabajo:hover {
        height: 250px;
    }

    .contenedor-trabajos a {
        width: 33%;
    }

    .card-redes {
        margin-bottom: 30px;
    }
}